/.vscode/
/.idea/
.DS_Store

/frontend/node_modules/
/frontend/dist/
/frontend/coverage
/frontend/.cache

/functional_tests/node_modules/
/functional_tests/screenshots/

data.sql
/output/
/terraform/.terraform/
.tf/.terraform/

/backend/vendor
vendor

/scripts/node_modules/