body{
  font-family: arial
}

#angularjs-content{
  padding: 20px 0;
}

#angularjs-menu ul{
  display: inline-block;
  height:40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#angularjs-menu li{
  float: left;
}
#angularjs-menu li a{
  display: inline-block;
  padding: 10px 20px;
  background-color: #b52e31;
  color: #fff;
  margin-right: 10px;
  border-radius: 20px;
}
#angularjs-menu li a:hover, #angularjs-menu li.active a{
  background-color: #64191b;
}
#angularjs-menu li a:hover{
  text-decoration: none;
}
